


  <div class="container-fluid mt-5" >
  <h4>Characters</h4>
  <div class="row">
    <div
      class="col-lg-3 mt-3 mb-3"
      *ngFor="let characters of allCharacters"
    >
      <div class="card">
        <img src="{{characters.thumbnail.path +'/standard_medium.'+characters.thumbnail.extension}}" width="100%" class="card-img-top" alt="Some Issue Loading Image..." />
        <div class="card-body">
          <h5 class="card-title">{{ characters.name }}</h5>

        </div>
      </div>




    </div>
  </div>

  </div>

